<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <link href="https://cdn.bootcss.com/docsearch.js/2.4.1/docsearch.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/swagger/bootstrap/css/bootstrap.min.css" />
    <link href="/swagger/assets/css/docs.min.css" rel="stylesheet" />
    <link href="/swagger/css/markdown.css" rel="stylesheet" />
    <script src="/swagger/jquery/jquery-3.3.1.min.js"></script>
    <script src="/swagger/jquery/jquery.goup.min.js"></script>
    <script src="/swagger/js/base64.js"></script>
    <script src="/swagger/js/json.js"></script>

    <script src="https://cdn.bootcss.com/raphael/2.2.7/raphael.js"></script>
    <script src="https://cdn.bootcss.com/flowchart/1.7.0/flowchart.js"></script>
    <script src="https://bramp.github.io/js-sequence-diagrams/js/webfont.js" ></script>
    <script src="https://bramp.github.io/js-sequence-diagrams/js/snap.svg-min.js" ></script>
    <script src="https://bramp.github.io/js-sequence-diagrams/js/underscore-min.js" ></script>
    <script src="https://bramp.github.io/js-sequence-diagrams/js/sequence-diagram-min.js" ></script>
    <link href="https://bramp.github.io/js-sequence-diagrams/css/sequence-diagram-min.css" rel="stylesheet" />


    <title th:text="${title}"></title>

    <script th:inline="javascript" type="text/javascript">


        var getDefaultVal = function (type) {
            if (type == 'integer') {
                return  0;
            }
            if (type == 'string') {
                return 'string';
            }

            return 'default';
        }

        var getDefinitions = function (param) {
            if(param.$ref){
                return param.$ref;
            }
            if(param.schema){
                if(param.schema.$ref){
                    return param.schema.$ref;
                }

                if(param.schema.items){
                    if(param.schema.items.$ref){
                        return param.schema.items.$ref;
                    }
                }
            }

            if(param.items){
                if( param.items.$ref){
                    return  param.items.$ref;
                }
            }

            return null;
        }

        var getType = function (param) {
            if(param.type){
                return param.type;
            }
            if(param.$ref){
                return 'object';
            }
            if(param.schema){
                if(param.schema.$ref){
                    return 'object';
                }

                if(param.schema.items){
                    if(param.schema.items.$ref){
                        return 'object';
                    }
                }
            }

            if(param.items){
                if( param.items.$ref){
                    return  'object';
                }
            }

            return 'array';
        }


        var getBodyJson = function (data,docApi) {
            var object = new Object();

            var getObj = function (param,object) {
                var definitions =   getDefinitions(param);
                var datas = docApi.definitions[definitions.substring(14, definitions.length)];
                var properties = datas.properties;
                for (var key in properties) {
                    var item = properties[key];
                    var itemType = item.type;
                    if (itemType == undefined) {
                        object[key] = new Object();
                        getObj(item,object[key]);
                    } else if(itemType=='array'){
                        object[key] = new Array();
                        var child = new Object();
                        getObj(item,child);
                        object[key].push(child);
                    }else {
                        object[key] =  getDefaultVal(itemType);
                    }
                }
            }

            $(data).each(function () {
                var param = this;
                var key = param.name;
                var itemType = param.type;
                if(param.in=='body'){
                    if (itemType == undefined) {

                        if(param.schema.type==undefined){
                            getObj(param,object);
                        }else{
                            if(param.schema.items.type==undefined){
                                object = new Array();
                                var child = new Object();
                                getObj(param,child);
                                object.push(child);
                            }else{
                                object = new Array();
                                var child = getDefaultVal(param.schema.items.type);
                                object.push(child);
                            }

                        }

                    }else{
                        object[key] =  getDefaultVal(itemType);
                    }
                }
            });

            var json =  JSON.stringify(object);

            return formatJson(json);
        };


        var getResponseJson = function (responses,docApi) {
            var object = new Object();

            var getObj = function(item,object){

                var ref = getDefinitions(item);
                var datas =  docApi.definitions[ref.substring(14,ref.length)];
                for(var key in datas.properties){
                    var item = datas.properties[key];


                    if(item.type==undefined){
                        object[key] = new Object();
                        getObj(item,object[key]);
                    }else if(item.type=='array'){
                        object[key] = new Array();
                        var child = new Object();
                        getObj(item,child);
                        object[key].push(child);
                    }else{
                        object[key] = getDefaultVal(item.type);
                    }
                }
            }

            for(var key in responses){
                var state = key;
                var item = responses[state];
                var schema = item.schema;
                if(schema.type == undefined){
                    getObj(item,object);
                }else{
                    if(schema.type == 'array'){

                        if(schema.items.type==undefined){
                            object = new Array();
                            var child = new Object();
                            getObj(schema,child);
                            object.push(child);
                        }else{
                            object = new Array();
                            var child = getDefaultVal(schema.items.type);
                            object.push(child);
                        }
                    }else{
                        object = getDefaultVal(item.schema.type);
                    }

                }
            }

            var json =  JSON.stringify(object);

            return formatJson(json);

        }

        var loadData = function(html,mkey,data,docApi,inData){

            for(var $key in data){
                var param =  data[$key];
                inData = (inData==undefined?param.in:inData);

                mkey = ((mkey==''||mkey==undefined)?'':mkey+'.');

                mkey = mkey.replace('..','.');

                var paramType = getType(param);


                if(inData ==undefined){
                    html+=
                        '<tr>' +
                        '<td>'+mkey+(param.name==undefined?$key:param.name)+'</td>\n' +
                        '<td>'+paramType+'</td>\n' +
                        '<td>'+(param.description?param.description:'')+'</td>\n' +
                        '<td>'+(param.required?'是':'否')+'</td>\n' +
                        '</tr>';

                }else{
                    if(param.in!=undefined){
                        if(param.in!=inData){
                            inData = param.in;
                        }
                    }
                    html+=
                        '<tr>' +
                        '<td>'+mkey+(param.name==undefined?$key:param.name)+'</td>\n' +
                        '<td>'+paramType+'</td>\n' +
                        '<td>'+(param.description?param.description:'')+'</td>\n' +
                        '<td>'+(param.required?'是':'否')+'</td>\n' +
                        '<td>'+inData+'</td>\n' +
                        '</tr>';

                }

                if(param.type==undefined||param.type=='array'){
                    var definitions = getDefinitions(param);

                    if(param.schema){
                        if(param.schema.items){
                            if(param.schema.items.type){
                                html+=
                                    '<tr>' +
                                    '<td></td>\n' +
                                    '<td>'+param.schema.items.type+'</td>\n' +
                                    '<td></td>\n' +
                                    '<td></td>\n' +
                                    '<td></td>\n' +
                                    '</tr>';
                                return html;
                            }
                        }
                    }


                    var datas =  docApi.definitions[definitions.substring(14,definitions.length)];
                    var properties = datas.properties;
                    var newData = new Array();
                    for(var key in properties){
                        console.log(key,properties[key]);
                        var item = properties[key];
                        item.name = key;
                        item.required = item.allowEmptyValue;
                        newData.push(item);
                    }
                    html = loadData(html,'&nbsp;&nbsp;&nbsp;&nbsp;'+mkey+param.name,newData,docApi,inData);
                }
            }

            return html;
        }

        var getApiTable = function (path,methodType,docApi) {
            var nowPath = docApi.paths[path];
            var baseUrl = 'http://'+docApi.host+docApi.basePath;
            var html = '';
            var consumes = nowPath[methodType].consumes;
            html +='<table class="table table-bordered">\n' +
                '        <tr>\n' +
                '            <td colspan="2">请求方式:</td>\n' +
                '            <td colspan="2">'+methodType+'<button type="button" data-path="'+path+'" data-type="'+methodType+'" class="btn btn-success btn-sm float-sm-right">Test</button></td>\n' +
                '        </tr>\n' +
                '        <tr>\n' +
                '            <td colspan="2">请求地址:</td>\n' +
                '            <td colspan="2">'+(baseUrl+path)+'</td>\n' +
                '        </tr>';

                if(consumes!=undefined){
                    html+='        <tr>\n' +
                        '            <td colspan="2">请求形式:</td>\n' +
                        '            <td colspan="2">'+JSON.stringify(consumes)+'</td>\n' +
                        '        </tr>';
                }


                html+='</table>';

            html+='<p>请求参数:</p>';

            html+='<table class="table table-bordered">' +
                '      <thead >  ' +
                '       <tr class="table-primary">\n' +
                '            <td >参数名</td>\n' +
                '            <td>格式</td>\n' +
                '            <td >解释</td>\n' +
                '            <td>必填</td>' +
                '            <td>形式</td>\n' +
                '        </tr>' +
                '</thead>\n';

            html=loadData(html,'',nowPath[methodType].parameters,docApi);

            html+='</table>';

            var bodyJson = getBodyJson(nowPath[methodType].parameters,docApi);

            html+='<p>body请求示例:</p>';
            html+='<pre>'+bodyJson+'</pre>';
            html+='<p>响应参数:</p>';



            var responses = nowPath[methodType].responses;

            var responseJson = getResponseJson(responses,docApi);
            console.log('responseJson->',responseJson);
            for(var key in responses){
                var state = key;
                var item = responses[state];
                var stateDes = item.description;
                var schema = item.schema;
                if(schema.type == undefined){
                    var ref = schema.$ref;
                    var datas =  docApi.definitions[ref.substring(14,ref.length)];
                    console.log("res->data",datas);

                    var newData = new Array();
                    for(var key in datas.properties){
                        console.log(key,datas.properties[key]);
                        var item = datas.properties[key];
                        item.name = key;
                        item.required = item.allowEmptyValue;
                        newData.push(item);
                    }

                    html+='<table class="table table-bordered">' +
                        '      <thead >  ' +
                        '       <tr class="table-primary">\n' +
                        '            <td >参数名</td>\n' +
                        '            <td>格式</td>\n' +
                        '            <td >解释</td>\n' +
                        '            <td>必填</td>\n' +
                        '        </tr>' +
                        '</thead>\n';

                    html=loadData(html,'',newData,docApi);

                    html+='</table>';
                }else{
                    if(schema.type =='array'){

                        if(schema.items.type==undefined){
                            html+='<table class="table table-bordered">' +
                                '      <thead>  ' +
                                '       <tr class="table-primary">\n' +
                                '            <td >参数名</td>\n' +
                                '            <td>格式</td>\n' +
                                '            <td >解释</td>\n' +
                                '            <td>必填</td>\n' +
                                '        </tr>' +
                                '</thead>'+
                                '<tr><td colspan="4">array</td></tr>';

                            var ref = schema.items.$ref;
                            var datas =  docApi.definitions[ref.substring(14,ref.length)];

                            var newData = new Array();
                            for(var key in datas.properties){
                                console.log(key,datas.properties[key]);
                                var item = datas.properties[key];
                                item.name = key;
                                item.required = item.allowEmptyValue;
                                newData.push(item);
                            }

                            html=loadData(html,'&nbsp;&nbsp;&nbsp;&nbsp;',newData,docApi);

                            html+='</table>';
                        }else{

                            html+='<table class="table table-bordered">' +
                                '      <thead >  ' +
                                '       <tr class="table-primary">\n' +
                                '            <td >参数名</td>\n' +
                                '            <td>格式</td>\n' +
                                '            <td >解释</td>\n' +
                                '            <td>必填</td>\n' +
                                '        </tr>' +
                                '</thead>'+
                                '<tr><td></td><td>'+schema.type+'</td><td></td><td></td></tr>' +
                                '<tr><td></td><td>'+schema.items.type+'</td><td></td><td></td></tr>' +
                                '</table>';
                        }

                    }else{
                        html+='<table class="table table-bordered">' +
                            '      <thead >  ' +
                            '       <tr class="table-primary">\n' +
                            '            <td >参数名</td>\n' +
                            '            <td>格式</td>\n' +
                            '            <td >解释</td>\n' +
                            '            <td>必填</td>\n' +
                            '        </tr>' +
                            '</thead>'+
                            '<tr><td></td><td>'+schema.type+'</td><td></td><td></td></tr>' +
                            '</table>';
                    }

                }
            }

            html+='<p>response响应示例:</p>';
            html+='<pre>'+responseJson+'</pre>';

            return html;
        }
        var loadDocs = function(){

           $.get('/v2/api-docs',function (docApi) {
                console.log(docApi);
                var base64 = new Base64();
                var encodeStr = base64.encode(JSON.stringify(docApi));
                $("#hidden").val(encodeStr);
                var div = $("#div");

                var apis = div.find("api");

                $(apis).each(function () {
                    var api = $(this);
                    var path = api.attr("name");
                    if(path==undefined){
                        path = api.attr("mapping");
                    }
                    var type = api.attr("type");
                    if(type==undefined){
                        type = api.attr("method");
                    }
                    console.log(path,type);
                    api.append(getApiTable(path,type,docApi));
                });
            });
        }

        var loadTitle = function(){
            $("#title").empty();

            var lastTagName = 'H2';

            var titleHtml = '';
            $("#div").children().each(function(index, element) {
                var tag = $(this);
                var tagName=tag.get(0).tagName;
                if(tagName.substr(0,1).toUpperCase()=="H"){

                    if(tagName != 'H1'){
                        var content = tag.html();
                        if(lastTagName>tagName){
                            titleHtml+="</ul>";
                        }

                        if(lastTagName<tagName){
                            titleHtml+='<ul>';
                        }

                        titleHtml+='<li class="toc-entry toc-'+tagName.toLowerCase()+'"><a href="#'+content+'">'+content+'</a></li>';

                        lastTagName = tagName;
                    }
                }

            });


            $("#title").append(titleHtml);
        }


        var loadList = function(){
            var list = [[${list}]];
            console.log(list);

            $("#bd-docs-nav").empty();
            var html='';
            for(var key in list) {
                var item = list[key];
                html += '<div class="mactive bd-toc-item">';
                html += '<a class="bd-toc-link" href="/md/' + item.path + '">' + item.title + '</a>';
                html += '</div>';
            }
            $("#bd-docs-nav").append(html);

        }
        $(document).ready(function () {
            var html = [[${md}]];
            $("#div").html(html);
            loadDocs();
            loadTitle();
            loadList();


            var options = {theme: 'simple'};
            $("code.language-sequence").sequenceDiagram(options);

            $('code.language-flow').each(function(){
                var flow = $(this);
                var code = flow.text();
                var chart = flowchart.parse(code);
                $(this).empty();
                flow.attr('id','xxx'+new Date().getMilliseconds());
                chart.drawSVG(flow.attr('id'));
            });


            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                titleAsText: true
            });

        });

        $(document).on("click","button[data-path]",function () {
            var path = $(this).attr('data-path');
            var type = $(this).attr('data-type');

            var base64 = new Base64();
            var decodeStr = base64.decode($("#hidden").val());
            var docApi = JSON.parse(decodeStr);

            console.log(path,type,docApi);

            var tag = docApi.paths[path][type].tags[0];
            var operationId = docApi.paths[path][type].operationId;

            console.log(tag,operationId);

            window.open('/swagger-ui.html?tag='+tag+'&type='+operationId);

            return false;
        })

    </script>
</head>
<body>
<input id="hidden" type="hidden" value=""/>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav">

            </nav>
        </div>

        <div class="d-none d-xl-block col-xl-2 bd-toc">
            <ul class="section-nav" id="title">

            </ul>
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" id="div" role="main">

        </main>

    </div>
</div>
</body>
</html>

